<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SysSped"
        connectionString="server=DESKTOP-JQ9IT40;user id=admin;password=abc123;persistsecurityinfo=True;database=sysspeddb"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>